/* New Modal CSS--*/

.dtwap-form-label{
    width: 100%;
    display: inline-block;
}

.dtwap-form-control{
    width: 100%;
}

.dtwap-change-email {
    text-align: right;
}

.dtwap-change-email a {
    text-decoration: none;
}

.dtwap-notice-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.dtwap-notice-modal-content {
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}
.dtwap-notice-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.dtwap-notice-modal-close:hover,
.dtwap-notice-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dtwap-form-submit-button{
    text-align: right;
}

.dtwap-form-head-wrap{
    margin-bottom: 20px
}

.dtwap-form-wrap .dtwap-form-heading{
    color: #2371b1;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dtwap-form-wrap .dtwap-form-subheading{

}



/* Form CSS . */

/* General Form Styles */
#dtwap-inquiryForm {

    padding: 20px;

}

/* Form Headings */
.dtwap-form-head-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.dtwap-form-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.dtwap-form-subheading {
    font-size: 16px;
    color: #666;
}

/* Form Labels */
.dtwap-form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Form Controls */

#dtwap-inquiryForm .dtwap-form-control {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s;
}

.dtwap-form-control:focus {
    border-color: #0073aa;
    outline: none;
}

/* Change Email Link */
.dtwap-change-email {
    text-align: right;
}

.dtwap-change-email a {
    color: #0073aa;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.dtwap-change-email a:hover {
    color: #005177;
}

/* Submit Button */
.dtwap-form-submit-button {
    text-align: center;
}

.dtwap-form-submit-button .button {
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 4px 30px;
    font-size: 14px;
}

.dtwap-form-submit-button .button:hover {

}

#dtwap-inquiryForm .dtwap-form-control:disabled{
    opacity: .5;
}

.dtwap-form-response-message {
    text-align: center;
    padding: 40px 20px;
}

.dtwap-form-response-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.dtwap-form-response-btn button{
    font-weight: normal;
}

.dtwap-form-response-message p.dtwap-form-response {
    font-size: 16px; 
    color: #333; 
    line-height: 1.5;
    padding: 15px 0; 
    text-align: center; 
}

.dtwap-form-group{
    margin-bottom: 20px;
}

.contextual-help-sidebar{
    margin-bottom: 10px;
}

.dtwap-form-group .dtwap-error:empty{
    display: none;
}

.dtwap-form-group .dtwap-error {
    color: red;
    font-size: 12px;
}